# ==========================================
# Entornos virtuales (¡Muy importante!)
# ==========================================
venv/
env/
.venv/

# ==========================================
# Archivos de caché compilados de Python
# ==========================================
__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Variables de entorno y secretos
# ==========================================
.env
.flaskenv

# ==========================================
# Bases de datos SQLite 
# ==========================================
*.db
*.sqlite3
*.db-journal

# ==========================================
# Configuraciones de editores (VS Code, PyCharm)
# ==========================================
.vscode/
.idea/
*.swp

# ==========================================
# Archivos basura del sistema operativo
# ==========================================
.DS_Store
Thumbs.db